# Pandas User Guide

Studying Pandas and its API. 

## 02. Essential Basic Functionality

In [4]:
import pandas as pd
import numpy as np

In [ ]:
index = pd.date_range("1/1/2025", periods = 8)

s = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])

In [13]:
df = pd.DataFrame(np.random.randn(8,3), index = index, columns = ['A','B', 'C'])
df

                   A         B         C
2025-01-01  0.601449  0.104146  1.250290
2025-01-02 -1.164623  0.975659  1.273268
2025-01-03 -0.228997 -1.312612  3.537209
2025-01-04 -0.477327 -0.357761 -1.448376
2025-01-05 -0.448744  1.031627 -0.028408
2025-01-06 -0.144339 -0.770207  0.219723
2025-01-07  0.309093 -0.094770  0.095145
2025-01-08 -0.078155  1.266223  1.031426

In [14]:
# Head and Tail

df.head() #See first 5 rows

                   A         B         C
2025-01-01  0.601449  0.104146  1.250290
2025-01-02 -1.164623  0.975659  1.273268
2025-01-03 -0.228997 -1.312612  3.537209
2025-01-04 -0.477327 -0.357761 -1.448376
2025-01-05 -0.448744  1.031627 -0.028408

In [15]:
df.tail() #See last 5 rows

                   A         B         C
2025-01-04 -0.477327 -0.357761 -1.448376
2025-01-05 -0.448744  1.031627 -0.028408
2025-01-06 -0.144339 -0.770207  0.219723
2025-01-07  0.309093 -0.094770  0.095145
2025-01-08 -0.078155  1.266223  1.031426

In [25]:
df = pd.DataFrame({'angles': [0, 3, 4],

                   'degrees': [360, 180, 360]},

                  index=['circle', 'triangle', 'rectangle'])

df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [26]:
row = df.iloc[1]
row

angles       3
degrees    180
Name: triangle, dtype: int64

In [35]:
column = df['degrees']
column

circle       360
triangle     180
rectangle    360
Name: degrees, dtype: int64

In [32]:
df.sub(row, axis = 'columns')

           angles  degrees
circle         -3      180
triangle        0        0
rectangle       1      180

In [33]:
df.sub(row, axis = 1)

           angles  degrees
circle         -3      180
triangle        0        0
rectangle       1      180

In [34]:
df.sub(column, axis = 'index')

           angles  degrees
circle       -360        0
triangle     -177        0
rectangle    -356        0

In [55]:
res = pd.read_csv('DADOS_HIDROLOGICOS_RES_2024.csv', sep = ';', decimal = ',', parse_dates = ['din_instante'])

res.head()

,id_subsistema,nom_subsistema,tip_reservatorio,nom_bacia,nom_ree,id_reservatorio,nom_reservatorio,num_ordemcs,cod_usina,din_instante,...,val_vazaovertida,val_vazaooutrasestruturas,val_vazaodefluente,val_vazaotransferida,val_vazaonatural,val_vazaoartificial,val_vazaoincremental,val_vazaoevaporacaoliquida,val_vazaousoconsuntivo,val_vazaoincrementalbruta
0,NE,Nordeste,FIO,JEQUITINHONHA,NORDESTE,JEUITP,ITAPEBI,68.0,154.0,2024-01-01,...,5.0,0.0,134.0,0.0,59.38999938964844,NaN,8.800000190734863,-0.9089999794960022,1.4945000410079956,10.75
1,NE,Nordeste,RCU,PARAGUACU,NORDESTE,PGUCV,PEDRA DO CAVALO,109.0,189.0,2024-01-01,...,0.0,NaN,2.0,13.0,1.409999966621399,NaN,1.409999966621399,-1.590000033378601,5.593900203704834,1.409999966621399
2,NE,Nordeste,RCU,PARNAIBA,NORDESTE,PIBESP,BOA ESPERANÇA,110.0,190.0,2024-01-01,...,0.0,NaN,245.0,NaN,307.6700134277344,NaN,307.6700134277344,6.736000061035156,0.7305999994277954,287.19000244140625
3,NE,Nordeste,RCU,SAO FRANCISCO,NORDESTE,SFSOBR,SOBRADINHO,180.0,169.0,2024-01-01,...,0.0,NaN,1012.0,NaN,1234.27001953125,NaN,1002.27001953125,208.07400512695312,46.65129852294922,1002.27001953125
4,NE,Nordeste,RCU,SAO FRANCISCO,NORDESTE,SFLGON,LUIZ GONZAGA,181.0,172.0,2024-01-01,...,0.0,NaN,1057.0,NaN,1002.5700073242188,NaN,0.0,48.28200149536133,106.4719009399414,NaN

In [58]:
#Setting the columns dtypes
res = res.astype({
    'num_ordemcs': float,
    'cod_usina': float,
    'val_niveljusante': float,
    'val_nivelmontante': float,
    'val_volumeutilcon': float,
    'val_vazaoafluente': float,
    'val_vazaoturbinada': float,
    'val_vazaovertida':float, 
    'val_vazaooutrasestruturas':float,
    'val_vazaodefluente':float,
    'val_vazaotransferida':float, 
    'val_vazaonatural':float, 
    'val_vazaoartificial':float,
    'val_vazaoincremental':float, 
    'val_vazaoevaporacaoliquida':float,
    'val_vazaousoconsuntivo':float, 
    'val_vazaoincrementalbruta':float
})

In [59]:
df2 = res.copy()

In [96]:
df_slice1 = df2.iloc[:, 7:9] #To slice specific columns, you must use .iloc[:, colX:colY]
df_slice2 = df2.iloc[:,11:13]
df_slice3 = df2.iloc[:,7:9]

In [97]:
df_slice1

       num_ordemcs  cod_usina
0             68.0      154.0
1            109.0      189.0
2            110.0      190.0
3            180.0      169.0
4            181.0      172.0
...            ...        ...
63160        172.0       94.0
63161        173.0      103.0
63162        174.0       95.0
63163        175.0      101.0
63164        176.0      102.0

[63165 rows x 2 columns]

In [100]:
df_slice1 + 2*df_slice3

       num_ordemcs  cod_usina
0            204.0      462.0
1            327.0      567.0
2            330.0      570.0
3            540.0      507.0
4            543.0      516.0
...            ...        ...
63160        516.0      282.0
63161        519.0      309.0
63162        522.0      285.0
63163        525.0      303.0
63164        528.0      306.0

[63165 rows x 2 columns]

In [101]:
df_slice3.sub(df_slice1, axis = 'columns') #Excepted to be Zero.

       num_ordemcs  cod_usina
0              0.0        0.0
1              0.0        0.0
2              0.0        0.0
3              0.0        0.0
4              0.0        0.0
...            ...        ...
63160          0.0        0.0
63161          0.0        0.0
63162          0.0        0.0
63163          0.0        0.0
63164          0.0        0.0

[63165 rows x 2 columns]

In [ ]:
df_slice3.gt(df_slice1) #Greater Than
#Since they are equal, it is expected to be all False.
#We can also compare dfs with eq, ne, lt, gt, le, and ge

       num_ordemcs  cod_usina
0            False      False
1            False      False
2            False      False
3            False      False
4            False      False
...            ...        ...
63160        False      False
63161        False      False
63162        False      False
63163        False      False
63164        False      False

[63165 rows x 2 columns]

In [104]:
#Boolean Reductions

(df_slice1 > 0).all()

num_ordemcs    False
cod_usina      False
dtype: bool

In [108]:
(df_slice1 > 5000).any()

num_ordemcs    False
cod_usina      False
dtype: bool

In [109]:
df.empty

False

In [112]:
#Comparing if objects are equivalent

df_slice1 == df_slice3 + df_slice3

       num_ordemcs  cod_usina
0            False      False
1            False      False
2            False      False
3            False      False
4            False      False
...            ...        ...
63160        False      False
63161        False      False
63162        False      False
63163        False      False
63164        False      False

[63165 rows x 2 columns]

In [ ]:
#Combining different dfs
df_slice3.combine_first(df_slice2)

       cod_usina  num_ordemcs  val_niveljusante  val_volumeutilcon
0          154.0         68.0         27.190001          13.000000
1          189.0        109.0          3.290000          63.660000
2          190.0        110.0        258.880005          21.600000
3          169.0        180.0        361.799988          51.560001
4          172.0        181.0        251.509995          47.000000
...          ...          ...               ...                ...
63160       94.0        172.0        264.589996          47.049999
63161      103.0        173.0        211.440002          49.639999
63162       95.0        174.0        426.799988          84.120003
63163      101.0        175.0        131.330002          53.000000
63164      102.0        176.0         98.650002          52.919998

[63165 rows x 4 columns]

In [115]:
df_slice2.mean()

val_niveljusante     327.862175
val_volumeutilcon     62.515563
dtype: float64

In [117]:
df_slice2.mean(1)

0         20.095000
1         33.475000
2        140.240003
3        206.679995
4        149.254997
            ...
63160    155.819998
63161    130.540001
63162    255.459995
63163     92.165001
63164     75.785000
Length: 63165, dtype: float64

In [118]:
df_slice2.cumsum()

       val_niveljusante  val_volumeutilcon
0          2.719000e+01       1.300000e+01
1          3.048000e+01       7.666000e+01
2          2.893600e+02       9.826000e+01
3          6.511600e+02       1.498200e+02
4          9.026700e+02       1.968200e+02
...                 ...                ...
63160      1.890334e+07       3.784515e+06
63161      1.890355e+07       3.784565e+06
63162      1.890398e+07       3.784649e+06
63163      1.890411e+07       3.784702e+06
63164      1.890421e+07       3.784755e+06

[63165 rows x 2 columns]

In [119]:
df_slice2.nunique()

val_niveljusante     18201
val_volumeutilcon     9818
dtype: int64

In [124]:
#All unique str
res['nom_ree'].unique()

array(['NORDESTE', 'MANAUS-AMAPA', nan, 'BELO MONTE', 'NORTE', 'PARANA',
       'MADEIRA', 'TELES PIRES', 'SUDESTE', 'PARANAPANEMA', 'ITAIPU',
       'SUL', 'IGUACU'], dtype=object)

In [ ]:
#Amount of unique values
res['nom_ree'].nunique()

12

In [125]:
res.describe()

,num_ordemcs,cod_usina,din_instante,val_nivelmontante,val_niveljusante,val_volumeutilcon,val_vazaoafluente,val_vazaoturbinada,val_vazaovertida,val_vazaooutrasestruturas,val_vazaodefluente,val_vazaotransferida,val_vazaonatural,val_vazaoartificial,val_vazaoincremental,val_vazaoevaporacaoliquida,val_vazaousoconsuntivo,val_vazaoincrementalbruta
count,61701.000000,61854.000000,63165,62347.000000,57659.000000,60541.000000,62710.000000,59111.000000,62020.000000,40006.000000,62348.000000,29786.000000,61854.000000,8784.000000,60524.000000,56981.000000,56761.000000,59481.000000
mean,103.186561,133.207101,2024-07-01 23:56:10.201852160,410.366591,327.862175,62.515563,761.851508,713.458817,80.485640,6.294041,760.385689,54.033551,784.333203,1094.832103,283.386863,3.274575,20.480046,278.936723
min,1.000000,0.000000,2024-01-01 00:00:00,-146.460007,-16451.080078,-1703.859985,-726.000000,0.000000,0.000000,0.000000,0.000000,-726.000000,0.000000,0.000000,-71.997002,-22.330999,0.000000,-1116.300049
25%,45.000000,51.000000,2024-04-01 00:00:00,254.349998,149.129997,49.680000,60.000000,64.000000,0.000000,0.000000,69.000000,0.000000,56.939999,81.715000,10.100000,0.001000,0.420000,11.260000
50%,98.000000,119.000000,2024-07-02 00:00:00,387.489990,325.750000,70.769997,182.145004,188.000000,0.000000,0.000000,188.000000,0.000000,178.029999,183.614998,47.939999,0.243000,3.000000,51.459999
75%,162.000000,195.000000,2024-10-02 00:00:00,572.989990,490.140015,89.459999,696.357498,679.000000,0.000000,1.000000,699.000000,0.000000,603.599976,717.405014,143.992504,1.743000,11.575800,147.770996
max,219.000000,315.000000,2024-12-31 00:00:00,912.960022,3960.260010,997.090027,33615.160156,26105.000000,14204.000000,1175.000000,33648.601562,11658.030273,33311.128906,18915.970703,32826.019531,262.003998,458.149994,33200.378906
std,63.258463,91.902986,NaN,221.270285,221.510175,79.530254,2091.648512,1831.010876,519.831501,42.201140,2035.730423,510.580411,2187.392942,2214.429207,1434.205535,16.258343,49.357195,1446.151665

In [126]:
res.describe(percentiles=[0.05, 0.25, 0.75, 0.95])

,num_ordemcs,cod_usina,din_instante,val_nivelmontante,val_niveljusante,val_volumeutilcon,val_vazaoafluente,val_vazaoturbinada,val_vazaovertida,val_vazaooutrasestruturas,val_vazaodefluente,val_vazaotransferida,val_vazaonatural,val_vazaoartificial,val_vazaoincremental,val_vazaoevaporacaoliquida,val_vazaousoconsuntivo,val_vazaoincrementalbruta
count,61701.000000,61854.000000,63165,62347.000000,57659.000000,60541.000000,62710.000000,59111.000000,62020.000000,40006.000000,62348.000000,29786.000000,61854.000000,8784.000000,60524.000000,56981.000000,56761.000000,59481.000000
mean,103.186561,133.207101,2024-07-01 23:56:10.201852160,410.366591,327.862175,62.515563,761.851508,713.458817,80.485640,6.294041,760.385689,54.033551,784.333203,1094.832103,283.386863,3.274575,20.480046,278.936723
min,1.000000,0.000000,2024-01-01 00:00:00,-146.460007,-16451.080078,-1703.859985,-726.000000,0.000000,0.000000,0.000000,0.000000,-726.000000,0.000000,0.000000,-71.997002,-22.330999,0.000000,-1116.300049
5%,9.000000,10.000000,2024-01-19 00:00:00,70.529999,15.739000,15.590000,7.000000,0.000000,0.000000,0.000000,10.000000,0.000000,4.690000,10.000000,0.000000,-0.567000,0.033200,-19.969999
25%,45.000000,51.000000,2024-04-01 00:00:00,254.349998,149.129997,49.680000,60.000000,64.000000,0.000000,0.000000,69.000000,0.000000,56.939999,81.715000,10.100000,0.001000,0.420000,11.260000
50%,98.000000,119.000000,2024-07-02 00:00:00,387.489990,325.750000,70.769997,182.145004,188.000000,0.000000,0.000000,188.000000,0.000000,178.029999,183.614998,47.939999,0.243000,3.000000,51.459999
75%,162.000000,195.000000,2024-10-02 00:00:00,572.989990,490.140015,89.459999,696.357498,679.000000,0.000000,1.000000,699.000000,0.000000,603.599976,717.405014,143.992504,1.743000,11.575800,147.770996
95%,198.000000,290.000000,2024-12-13 00:00:00,799.099976,706.950012,102.089996,3128.983044,2912.500000,278.000000,18.000000,3234.600000,130.000000,3165.399902,6741.002295,856.827008,13.799000,116.989998,825.190002
max,219.000000,315.000000,2024-12-31 00:00:00,912.960022,3960.260010,997.090027,33615.160156,26105.000000,14204.000000,1175.000000,33648.601562,11658.030273,33311.128906,18915.970703,32826.019531,262.003998,458.149994,33200.378906
std,63.258463,91.902986,NaN,221.270285,221.510175,79.530254,2091.648512,1831.010876,519.831501,42.201140,2035.730423,510.580411,2187.392942,2214.429207,1434.205535,16.258343,49.357195,1446.151665

In [130]:
res['cod_usina'].idxmin(), res['cod_usina'].idxmax()

(22, 94)

In [136]:
res['cod_usina'].loc[22], res['cod_usina'].loc[94] #Min-Max value based on the index

(0.0, 315.0)

In [ ]:
res['cod_usina'].describe()

count    61854.000000
mean       133.207101
std         91.902986
min          0.000000
25%         51.000000
50%        119.000000
75%        195.000000
max        315.000000
Name: cod_usina, dtype: float64

In [139]:
res['id_subsistema'].value_counts()

id_subsistema
SE    43554
S     12291
N      4026
NE     3294
Name: count, dtype: int64

In [ ]:
#Function Application
#tbc https://pandas.pydata.org/docs/user_guide/basics.html#function-application